.login-wrapper {
  @extend .card;
  padding: 20px 40px;

  @include mq(lg) {
    width: auto;
    margin: 0 200px;
  }

  @include e(input) {
    margin: 20px 0;
  }
}

.login-buttons {
  padding: 20px 0;
  text-align: left;
}
